.is-sticky {
    z-index: 999;
}

.link-onepage a.active {
    background: rgba($color: #003770, $alpha: .8);
    color: #fff;
}

.link-onepage a.active.link-book {
    background: orange !important;
    color: #ccc;
}