.is-sticky {
    z-index: 999;
}

.link-onepage a.active {
    background: rgba($color: #003770, $alpha: .8);
    color: #fff;
}

.link-onepage a.active.link-book {
    background: orange !important;
    color: #ccc;
}

.figure .overview {
    padding: 1rem;
    padding-top: 0;
    background: rgba(#000, .8);
    color: #fff;
    font-size: 90%
}

@media (min-width: 992px) {
    .figure {
        display: flex;
        gap: 1rem;

        .overview {
            background: transparent;
            color: #424242;
        }

        .text-tour {
            position: relative;
            color: #424242;
            background: #fff;
            padding: .25rem;


            h3 {
                color: #242424;
            }
        }

        &:hover {
            h3 {
                color: #003770;
            }
        }
    }
}